* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
  margin-left: 250px;

  width: calc(100% - 250px);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #0d6686, #151152);
}

.sidebar {
  background-color: #dda059;
  border: 8px solid #6b3710;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

  width: 250px;
  height: 100vh;
  padding: 10px;
  position: fixed;
  left: 0;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(12, 48px);
  grid-template-rows: repeat(12, 48px);

  width: fit-content;
  height: 100%;

  background-color: #dda059;
  border: 8px solid #6b3710;
}

.cell {
  background-color: #6dbf4b;
  border: 1px solid #3e7c1f;
  width: 100%;
  height: 100%;
  position: relative;
}

.cell > .obstacle {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-position: center;
}

.cell > .obstacle.rock {
  background-image: url("../images/rock.png");
}

.cell > .obstacle.bush {
  background-image: url("../images/bush.png");
}

.tools-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.tools-board {
  width: fit-content;

  display: flex;
  column-gap: 4px;

  background-color: #6b3710;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.tool {
  width: 48px;
  height: 48px;

  background-color: #fff;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.tool.selected {
  border: 2px solid red;
}

.tool.hoe {
  background-image: url("../images/hoe.png");
}

.tool.pickaxe {
  background-image: url("../images/pickaxe.png");
}

.tool.watering-can {
  background-image: url("../images/watering-can.png");
}

.seeds-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.seeds-board {
  width: fit-content;

  display: flex;
  column-gap: 4px;

  background-color: #6b3710;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  padding: 4px;
}

.seed {
  width: 48px;
  height: 48px;

  background-color: #fff;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.seed.selected {
  border: 2px solid red;
}

.seed.carrot {
  background-image: url("../images/carrot/carrot-seeds.png");
}

.seed.tomato {
  background-image: url("../images/tomato/tomato-seeds.png");
}

.seed.potato {
  background-image: url("../images/potato/potato-seeds.png");
}
